# Inputs
*.txt

# 2019
_build/
cover/
deps/
doc/
.fetch
erl_crash.dump
*.ez
aoc_2019_elixir-*.tar
tmp/


# 2020
*.beam
build/
erl_crash.dump

# 2021
.idea
*.iml
.gradle

# 2022
.vs/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
!aoc-2022-dotnet/AoC.Day.Template/*.txt
